.section {
    background: linear-gradient(107.32deg, #804BD8 5.53%, #544AD8 97.3%);
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: [startline] 1fr [middleline] 1fr 1fr [endline];
    grid-auto-rows: 100px;
}

.container>div {
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: 2px solid #FE7A71;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-auto-flow: row;
}

.c1 {
    /* grid-column-start: 1;
    grid-column-end: -1; */

    /* занять 2-ячейки */
    /* grid-column: 1 / 3;  */

    /* занять 2-ячейки */
    /* grid-column-start: 1;
    grid-column-end: span 2; */

    /* занять 3-ячейки */
    /* grid-column: 1 / span 3; */

    grid-column-start: middleline;
    grid-column-end: endline;

}